*{
    background-color: #eaeaea;
    font-family:Tahoma;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    margin: 3rem 3rem 3rem 3rem;
    color: #7A3911;
    background-color: transparent;
}
h1{
    font-size: 3.5rem;
    text-align: center;
    position: relative;
    z-index: 2;
    background-color: transparent;
}
h2{
    background-color: rgb(220, 210, 195);
    display: flex;
    align-items: center;
    justify-content: center;
    block-size: 3rem;
    margin-top: 4rem;

}
div{
    display: flex;
    width: 300px;
    font-size: 1.3rem;
    line-height: 2.8rem;
    background-color: transparent;
    font-weight:bold;
}
span{
    background-color: transparent;
}
p{
    background-color: transparent;
}
.linea{
    flex: 1;
    border-bottom: 2px dashed #7A3911;
    margin: 0 10px;
}
.logo{
    position: absolute;
    top: -3rem;
    left: -3rem;
    width: 160px;
}
header{
    position: relative;
    height: 20px;
}
.fondo-de-frappes{
    position: absolute;
    z-index: -1;
    width: 400px;
    margin-top: 16rem;
}
.fondo-de-bebidas{
    position: absolute;
    z-index: -1;
    width: 400px;
    margin-top: 10rem;
}
.fondo-de-te{
    position: absolute;
    z-index: -1;
    width: 400px;
    margin-top: 5rem;
}
.fondo-de-crepas{
    position: absolute;
    z-index: -1;
    width: 400px;
    margin-top: 7rem;
}
.fondo-de-waffles{
    position: absolute;
    z-index: -1;
    width: 400px;
    margin-top: 14rem;
}
.fondo-de-smoothie{
    position: absolute;
    z-index: -1;
    width: 400px;
    margin-top: -1.6rem;
}
.fondo-de-salados{
    position: absolute;
    z-index: -1;
    width: 400px;
    margin-top: 2rem;
}
.fondo-de-otros{
    position: absolute;
    z-index: -1;
    width: 400px;
    margin-top: -1rem;
}
.mancha-derecha{
    position: absolute;
    width:120px;
    margin-top: -8rem;
    right: 0rem;
    z-index: -1;
}
.mancha-fondo{
    position: absolute;
    width:130px;
    left: 0rem;
    z-index: -1;
}
