*{
    background-color: #eaeaea;
    font-family:Tahoma;
}
body{
    margin: 3rem;
    color: #7A3911;
}
h1{
    font-size: 3.5rem;
    text-align: center;
}
h2{
    background-color: rgb(220, 210, 195);
    display: flex;
    align-items: center;
    justify-content: center;
    block-size: 3rem;
}
div{
    display: flex;
    align-items: cendter;
    width: 300px;
}
.linea{
    flex: 1;
    border-bottom: 2px dashed #7A3911;
    margin: 0 10px;
}
div{
    line-height: 2rem;
}

